:root {
    --main-menu-color: #3f3f3f;
    --secondary-menu-color: #313131;
    --main-menu-hover-bg: #a9a099;

    --glow-effect1: rgba(0, 0, 0, 0.3);
    --glow-effect2: #331c19;
    --glow-effect3: #452c2c;
    --glow-effect4: #7b5247;

    --button-texture: url("../game/assets/images/button-texture.png") repeat scroll 0 0 transparent;
}

body,
html {
    font-family: 'Caudex', sans-serif;
    /*mix-blend-mode: luminosity;  !* 5 minute crafts black and white filter xD *!*/
    margin: 0;
    padding: 0;
    background-image: url('../game/assets/images/main-menu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.main-menu,
#leaderboard, #settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu button {
    font-family: 'Caudex', sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--button-texture);
    transition: transform 0.2s ease;
    width: 400px;
}

#gameName {
    font-size: 128px;
    font-weight: bold;
    color: white;
    background: url("../game/assets/images/menu-texture.png") repeat-x scroll 0 0 transparent;
}

button:hover {
    transform: rotate(var(--random-rotation));
}

/*.glow button:hover {*/
/*    animation: glow 1s infinite alternate;*/
/*}*/

/*@keyframes glow {*/
/*    0% {*/
/*        box-shadow: 0 5px 5px var(--glow-effect1),*/
/*        0 0 5px var(--glow-effect2),*/
/*        0 0 10px var(--glow-effect3),*/
/*        0 0 15px var(--glow-effect4);*/
/*    }*/

/*    100% {*/
/*        box-shadow: 0 5px 5px var(--glow-effect1),*/
/*        0 0 12px var(--glow-effect2),*/
/*        0 0 12px var(--glow-effect3),*/
/*        0 0 17px var(--glow-effect4);*/
/*    }*/
/*}*/

#pauseMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

#pauseMenu button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 24px;
    color: white;
    background: var(--button-texture);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.903);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#loadingContent {
    text-align: center;
    font-family: 'Times New Roman', serif;
}

#loadingBar {
    width: 0;
    height: 20px;
    background-color: green;
    margin-bottom: 10px;
}

#loadingText {
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#leaderboard, #settings {
    font-family: 'Caudex', sans-serif;
    font-size: 22px;
    color: white;
    /*border: 1px solid #eee;*/
    padding: 50px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 4px 2px;*/
    height: 500px;
    width: 700px;
    background: url("../game/assets/images/menu-image.png") no-repeat scroll 0px 0px transparent;
    filter: drop-shadow(0px 10px 12px rgba(0,0, 0, 0.7));
    /*overflow: scroll;*/
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    /*border: 1px solid #ddd;*/
    padding: 10px;
    text-align: left;
}

th:nth-of-type(1) { /* PLAYER column */
    width: 25%;
}
th:nth-of-type(2) { /* DATE column */
    width: 25%;
}
th:nth-of-type(3) { /* TIME column */
    width: 25%;
}
th:nth-of-type(4) { /* DEATHS column */
    width: 25%;
}

:is(th) {
    text-align: center;
    width: 50px;
}

th {
    background: var(--button-texture);
    /*border-bottom: 2px solid #ccc;*/
}

tr:nth-child(odd) {
    background-color: var(--secondary-menu-color);
}

tr:hover {
    background-color: #f1f1f14a;
}

.backButton, #lbHolder button {
    font-family: 'Caudex', sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--button-texture);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backButton:hover, #leaderboardBackButton:hover {
    transform: translate(-50%, -50%) rotate(var(--random-rotation));
}

#settings button {
    font-family: 'Caudex', sans-serif;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--button-texture);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 9%;
    padding: 10px 20px;
}

#sensitivityValue {
    padding-left: 10px;
}

#stats {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    text-align: center;
    /* add border radius to the right side*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#time {
    font-size: 50px;
    margin-bottom: 10px;
}

.inventory-slot {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.iCount {
    font-size: 20px;
}

.iPic {
    width: 40px;
    height: 40px;
    background-image: url("../game/assets/images/orb-icon.png");
    background-size: cover;
}